*{margin:0; padding:0; border:0;font-size:12px}
body{overflow-x:hidden; min-width:220px; font-family:helvetica,verdana,san-serif;}
a,a:hover{text-decoration:none;}
ul,li,ol{list-style:none}

/*--overall class--*/
/*about entrance select*/
.entranceBody{margin:0 auto; text-align:center; color:#FFF;}
.entranceBg{background-color:#E55322;}
/*about user register*/
.registerBody{background:#fff; color:#333;}

/*--part class--*/
/*about entrance select*/
.entranceBody .logo{background:#feffa0; padding:10px 0; border-bottom:3px solid black;}
.entranceBody .img{text-align:center; margin:0 auto; width:220px;}
.entranceBody .bordercolor{border-bottom:1px solid #851900;}
.entranceBody .title{text-align:center; margin:20px 0 25px; font-size:26px; font-weight:bold;}
.entranceBody .select{margin:10px 20px; font-weight:bolder;margin-left:0px auto; display:block; text-align:center;} 
.entranceBody .select a:link,.select a:visited{color:#FFF; text-decoration:none; display:block; padding:25px; background-color:#c43410; max-width:200px;margin:0 auto;}
.entranceBody .floor{width:220px; margin:20px auto 0px;}  
.entranceBody .floor .sign{font-size:12px; padding:0 20px; text-align:right;}
/*about user register*/
.registerBody .red{color:#ab1324;}
.registerBody .head{background:#ab1324; color:#FFF; color:#FFF; font-size:26px; border-bottom:1px solid #000; width:100%; position:relative; }
.registerBody .head .rebefor a:link,.registerBody .head  .rebefor a:visited{color:#FFF; text-decoration:none; display:inline-block; padding:5px 16px; border-right:1px solid #900010; font-weight:bold;position:absolute; left:0px; top:-1px;}
.registerBody .head .quit a:link,.registerBody .head .quit a:visited{color:#FFF; text-decoration:none;display:inline-block; padding:0px 10px;position:absolute;right:0px; top:-1px;font-size:12px;line-height:42px;border-left:1px solid #900010;}
 /*Just about return href*/
.registerBody .head .title{font-size:16px; text-align:center; display:block; text-shadow:1px 1px 1px #666; margin:0 auto; width:100%; line-height:42px;}
.registerBody .body{margin:0 10px;}
.registerBody .body .number{margin:10px 0;}
.registerBody .body .write{padding:6px; border:1px solid #dfdfdf; border-radius:5px; min-width:256px;}
.registerBody .body .write p{padding:10px 10px 10px 0px; display:-webkit-box; display:box; orient:horizontal;}
.registerBody .body .write span{display:block;}
.registerBody .body .write input{width:100%; border:1px solid #dfdfdf; box-shadow:0 0 5px #ccc; border-radius:5px; padding:3px; background-color:white; height:21px; min-width:160px; cursor:auto; -webkit-user-select:text; -webkit-rtl-ordering:logical; border-image-repeat:initial; border-image-outset:initial; -webkit-appearance:textfield;  border-image-source:initial; border-image-slice:initial; border-image-width:initial; line-height:29px;}
.registerBody .body .write .rowLeft{display:inline-block; width:80px; text-align:right; line-height:29px;}
.registerBody .body .write .rowRight{-webkit-box-flex:5; box-flex:5;}
.registerBody .body .write .coordinate{position:relative;}
.registerBody .body .write .verification{position:absolute; right:0px; top:4px; display:block; border:1px solid #dfdfdf; border-radius:10px; background:#f3f3f3;}
.registerBody .body .write .verification a,.registerBody .body .write .verification a:visited{display:block; text-decoration:none; padding:2px 8px; color:#333; font-size:14px;}
/*about user search shop*/
.registerBody .body .search{min-width:256px;}
.registerBody .body .search p{display:-webkit-box;display:box;orient:horizontal;margin-right:2px;}
.registerBody .body .search span{display:block;}
.registerBody .body .search input{width:100%; border:1px solid #dfdfdf; box-shadow:0 0 5px #ccc; border-radius:5px; padding:3px 0px; background-color:white; height:21px; min-width:160px; cursor:auto; -webkit-user-select:text; -webkit-rtl-ordering:logical; border-image-repeat:initial; border-image-outset:initial; -webkit-appearance:textfield;  border-image-source:initial; border-image-slice:initial; border-image-width:initial; line-height:29px;}
.registerBody .body .search .rowRight{-webkit-box-flex:5; box-flex:5;}
.registerBody .body .search .coordinate{position:relative;}
.registerBody .body .search .verification{position:absolute; right:2px; top:4px; display:block; border:1px solid #dfdfdf; border-radius:10px; background:#f3f3f3;}
.registerBody .body .search .verification a,.registerBody .body .write .verification a:visited{display:block; text-decoration:none; padding:2px 8px; color:#333; font-size:14px;}
/*about user infor*/
.registerBody .body .infor{padding:6px 0px; border:1px solid #dfdfdf; border-radius:5px; min-width:256px;}
.registerBody .body .infor .borderBottom{border-bottom:1px solid #CCC;}
.registerBody .body .infor p{padding:0px 18px 0px 10px;}
.registerBody .body .infor .pImg{padding:0px;margin-top:-6px;text-align:center;border-bottom:1px solid #dfdfdf;background:#000;}
.registerBody .body .infor .pImg img{max-width:500px;}
.registerBody .body .infor span{display:block; line-height:29px; margin:10px 0;}
.registerBody .body .infor .tll{display:inline-block; margin:0;white-space:nowrap;}
.registerBody .body .infor .recommendSrc{word-wrap:break-word;}
.registerBody .body .infor input{width:100%; border:1px solid #dfdfdf; box-shadow:0 0 5px #ccc; border-radius:5px; padding:3px; background-color:white; height:21px; min-width:160px; cursor:auto; -webkit-user-select:text; -webkit-rtl-ordering:logical; border-image-repeat:initial; border-image-outset:initial; -webkit-appearance:textfield;  border-image-source:initial; border-image-slice:initial; border-image-width:initial; line-height:29px;}

.registerBody .body .shopInfors{border:1px solid #dfdfdf;border-radius:5px;}
.registerBody .body .shopTitle{height:30px;line-height:30px;font-size:12px;padding:0 10px;border-bottom:1px solid #dfdfdf;}
.registerBody .body .dHeight{height:60px;display:display;clear:both;padding:5px 0px;border-bottom:1px solid #dfdfdf;}
.registerBody .body .divLeft{width:78px;height:59px;border:0px solid #ccc;float:left;}
.registerBody .body .divLeft img{width:68px;height:51px;margin:5px 4px;}
.registerBody .body .divRight{min-width:62px;height:59px;border:0px solid #ccc;}
.registerBody .body .divRight div{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:19px;height:19px;}
.registerBody .body .divRight div span{font-size:12px;margin:6px 10px;color:#333;margin:0px 10px;}
.registerBody .body .divRight div .shopName{font-weight:bold;font-size:14px;}
.registerBody .body .divRight div .shopAddress{font-weight:bold;font-size:13px;}
.registerBody .body .divRight div .shopLabel{color:#999;font-size:13px;}

.registerBody .floornull{margin-bottom:50px;}
/*about user floor*/
.registerBody .floor{margin:0 10px;}
.registerBody .floor .registerA{color:#666; text-align:center; display:block; margin:20px 0px; background:#f3f3f3; padding:10px; border:1px solid #ccc;}
.registerBody .floor a,.registerBody .floor a:visited{text-decoration:none; color:#333;}
.registerBody .floor p{text-align:center; display:block;}
.registerBody .floor p a,.registerBody .floor p a:visited{text-decoration:none; color:blue;}
.registerBody .floor p .grey{color:#666;}
.registerBody .floor .smallFont{font-size:14px;}

.registerBody .floorBlue{margin:0 0px;}
.registerBody .floorBlue .registerA{color:#fff; text-align:center; display:block; margin:20px 0px; background:#1E78FF;font-weight:bold;padding:10px; border:1px solid #ccc;}
.registerBody .floorBlue a,.registerBody .floorBlue a:visited{text-decoration:none;background:#1E78FF;color:#FFF;}
/*about tdcode*/
.tdcode{width:200px; margin:40px auto;}

/*about End-Menu*/
.endmenu{position:fixed;right:0;bottom:0;width:100%;height:50px;z-index:4;}

/*modified in 2016-04-25*/
.registerBody .floornull{margin-bottom:50px;}
.registerBody .divSpace{height:8px;background-color:#FAFAFA;}
.endMenu .floorNav{padding:10px 5px;height:30px;}
.endMenu .floorNav div{width:33%;text-align:center;}
.endMenu .floorNav div span{width:100%;display:inline-block;font-size:11px;line-height:15px;} 
.endMenu .floorNav div a,.floorNav div a:hover{width:100%;display:inline-block;font-size:10px;color:#000;} 
.endMenu .floor{height:35px;background-color:#F7F7F7;background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
         background-image: -webkit-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(240, 240, 240) 100%);
		 position:fixed;margin:auto;bottom:0;left:0;right:0;padding:5px;}
.endMenu .leftThree{float:left;}

.blankButton{width:100%;height:100%;position:fixed;top:0;left:0;z-index:2;display:none;}

/*.blankButton former*/
/*.blankButton{width:100%;height:100%;background:rgba(0,0,0,.2);position:fixed;top:0;left:0;z-index:2;display:none;}*/

/*TLL*/
#shopSeachprov,#shopSeachcity,#shopSeachdistrict,#userSeachprov,#userSeachcity,#userSeachdistrict{margin-left:0px;border:1px solid #ccc; max-width:100px;font-size:13px;}

.uploadify-button span{
	margin: 1px 0 !important;
}

