/*元素选择器*/
*{ padding:0; margin:0;} /*初始化所有元素边距样式*/
body {min-width: 220px; background: #fff; font: normal 16px/1.5 helvetica, verdana, san-serif; color: #333;}
body{height: 100%; width: 100%; background-repeat: repeat-x; background-position: top;}
input, textarea, keygen, select, button, meter, progress {-webkit-writing-mode: horizontal-tb;}/*内容书写方向*/
a,a:visited { text-decoration:none; color:#333; }/*链接样式*/
input{-webkit-appearance: textfield; padding: 3px; background-color: white; border: 2px inset; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial;
border-image-repeat: initial; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; height:21px; } /*input元素样式 宽度*/
input, textarea, keygen, select, button {margin: 0em; font: 13.3333px Arial; text-rendering: auto; color: initial; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none;
display: inline-block; text-align: start;}
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i]{padding: 1px 0px;}/*表单组建样式*/
input, textarea, keygen, select, button, meter, progress{-webkit-writing-mode: horizontal-tb;}
p{display: block; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; margin:0;}
hr{size:1; color:#FFF;}

/*后代选择器/子选择器+类选择器*/
/*首行导航样式*/
header .top {width:100%; height:40px; line-height:40px; background:#ab1324; position:relative;}
header .box1,header .box2,header {height:39px;}
header .box1{position:absolute; left:0; top:0; z-index:2 ;border-right:solid 1px #900010; width:40px; color:#fff; text-align:center; font-size:30px;}
header .box1 a{color:#fff;}
header .box2{position:absolute; left:0px; top:-1px; width:100%;z-index:1; text-align:center; line-height:40px; color:#fff; text-shadow:1px 1px 1px #666;}
/*尾部导航样式*/
footer .top{background-repeat: no-repeat;background-position: center;height: 40px;width: 100%;position: fixed;bottom: 0px;z-index: 5;display: block; line-height:40px;  border:1px solid #CCC; border-bottom-width:0px; border-left-width:0px; border-right-width:0px; font-size:14px;}
footer .date_list{list-style:none;padding:0px 0;text-align:center;}
footer .date_list li{width:100px;;padding:8px;margin:1px;display:inline-block; border:1px solid #CCC; display:inline; zoom:1; border-left-width:0px; border-bottom-width:0px; border-top-width:0px;}
footer .date_list .end{border-right-width:0px;}

/*类选择器+后代选择器*/
/*颜色*/
.red,.red a{color:#ab1324;}
/*首行信息样式*/
.loginBox{margin:0 10px;}
.loginBox aside{padding:10px 0;}
/*注册信息样式*/
.login{ border:solid 1px #dfdfdf; border-radius:5px;}
.login label{display:inline-block; width:6em; text-align:right;}
.login p{ padding:5px 10px;display:-webkit-box;display:box; orient: horizontal;}
.login span{display:block;}
.login .s1{width:6em;}
.login .s2{-webkit-box-flex:5; box-flex:5;}
.login .s3{width:100px;}
.login .s4{width:18em; text-align:left;}
.login .s4 a:visited,a:link{color:#585B7C;}
.login .s5{ margin-top:15px; margin-bottom:10px;}
.login input{ width:100%; border:solid 1px #eee; border-radius:5px;}
.login input:focus{ box-shadow:0 0 5px #ccc;}
/*已有帐号登录提示*/
.tishi_zc{ color:#666; text-align:center;}
/*注册样式*/
.but_1 { background:#f3f3f3; display:block; border: 1px solid #ccc;color: #000; font-size: 16px; height:30px; line-height:30px; margin:20px 0px; text-align: center; text-shadow: 1px 1px 1px #FFFFFF;cursor:pointer; }
.but_1 span{ font-size:14px;}
/*获取验证码*/
.verifycode-inputs {position: relative;}
.verifycode-inputs #getcode {position: absolute; right:5px; top: 8px; padding: 1px 8px; border: 1px solid #c9c9c9; border-radius: 20px; font-size:12px;}
.zcselect-element {margin:15px;}

/*ID选择器*/
/*底部样式*/

#verifyGraph{
	BACKGROUND-IMAGE: url(../images/error.png); 
	BACKGROUND-REPEAT: no-repeat;
	background-position-x: right;
	background-position-y: center;
	background-position: right,center;	 
}


